@use 'sass:map';
@use 'tokens';

$primary: map.get(tokens.$aeris-default-palette, 'primary');
$primary-hover: #2b6549;
$primary-active: #2b6448;
$primary-text: $primary;
$secondary: map.get(tokens.$aeris-default-palette, 'secondary');
$focus: #2c432c;
$on-primary: #ffffff;
