@use 'sass:map';
@use 'tokens';

$primary: map.get(tokens.$aeris-default-palette, 'primary');
$primary-hover: #5c6b35;
$primary-active: #5b6a34;
$primary-text: $primary;
$secondary: map.get(tokens.$aeris-default-palette, 'secondary');
$focus: #3b4729;
$on-primary: #ffffff;
